[submodule "AppFrameThoughts"]
	path = AppFrameThoughts
	url = git@github.com:TDAkory/AppFrameThoughts.git
	branch = master
[submodule "CppLearn"]
	path = CppLearn
	url = git@github.com:TDAkory/CppLearn.git
	branch = master
[submodule "CSFundations"]
	path = CSFundations
	url = git@github.com:TDAkory/CSFundations.git
	branch = master
[submodule "GoLearn"]
	path = GoLearn
	url = git@github.com:TDAkory/GoLearn.git
	branch = master
[submodule "LinuxLearn"]
	path = LinuxLearn
	url = git@github.com:TDAkory/LinuxLearn.git
	branch = master
[submodule "PythonLearn"]
	path = PythonLearn
	url = git@github.com:TDAkory/PythonLearn.git
	branch = master
[submodule "RustLearn"]
	path = RustLearn
	url = git@github.com:TDAkory/RustLearn.git
	branch = master
[submodule "Readings"]
	path = Readings
	url = git@github.com:TDAkory/Readings.git
[submodule "ZImages"]
	path = ZImages
	url = git@github.com:TDAkory/ImageResources.git
[submodule "BlogSrc"]
	path = BlogSrc
	url = https://github.com/TDAkory/BlogSrc.git
	branch = master
